html,
* {
  cursor: none !important;

}

body {
  overflow-x: hidden;
}

@media (max-width: 700px) {
  * {
    cursor: auto !important;
  }
}

:root {
  /* --cursor-color: hwb(334 66% 0%); */
  --cursor-color: hwb(37 30% 2%);
  --cursor-two-color: hwb(37 66% 0%);
  --cursor-one: 30px;
  --cursor-one-text: calc(var(--cursor-one) * 0.8);
  --cursor-one-text-width: 4px;
  --cursor-one-active: calc(var(--cursor-one) * 2);
  --cursor-one-clicked: calc(var(--cursor-one-active) * 1.5);
  --cursor-one-clicked-text: calc(var(--cursor-one-active) * 0.1);
  --cursor-two: 4px;
  --cursor-two-disable: none;
  --cursor-strok: 3px;
  --opacity: 0.5;
  --font-two: black;
}

.cursor-box {
  overflow: visible;

  /* to excute the cursor */
  pointer-events: none;
}

@media (max-width: 700px) {
  .cursor-box {
    display: none;
  }
}

.cursor-one {
  background-color: var(--cursor-color);
  width: var(--cursor-one);
  height: var(--cursor-one);
  border: var(--cursor-strok) solid var(--cursor-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  -ms-transition: 0.05s;
  -o-transition: 0.05s;
  transition: 0.05s;
  /*thisoverflowwillforceAOSlibrarytonothidethecursor*/
  overflow: visible !important;
  z-index: 10;

}

.cursor-one.active {
  /* background-color: transparent; */
  height: var(--cursor-one-active);
  width: var(--cursor-one-active);
  /* border: none; */
  opacity: var(--opacity);
}

.cursor-one.active-text {
  background-color: var(--cursor-color);
  height: var(--cursor-one-text);
  width: var(--cursor-one-text-width);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  animation: 900ms cursorText infinite ease-in;
  -webkit-animation: 900ms cursorText infinite ease-in;
  opacity: 1;
}

.cursor-one.clicked {
  background-color: var(--cursor-color);
  height: var(--cursor-one-clicked);
  width: var(--cursor-one-clicked);
  border: none;
}

.cursor-one.clicked-text {
  background-color: var(--cursor-color);
  height: var(--cursor-one-clicked-text);
  width: var(--cursor-one-clicked-text);
  border: none;
}

.cursor-two {
  background-color: var(--cursor-two-color);
  width: var(--cursor-two);
  height: var(--cursor-two);
  display: block;
  z-index: 10;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.09s;
  -moz-transition: 0.09s;
  -ms-transition: 0.09s;
  -o-transition: 0.09s;
  transition: 0.09s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: visible;
}

.cursor-two.disable {
  display: var(--cursor-two-disable);
}

/* KEYFRAMES */
@keyframes cursorText {
  50% {
    opacity: 0.4;
    height: calc(var(--cursor-one-text) * 1.1);
  }
}