/* font => weights => 100,200,300,400,500,600,700,800,900 */
/* IBM */
/* KOTO */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  direction: rtl;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
* {
  font-family: "Alexandria", sans-serif;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: "Noto Kufi Arabic", sans-serif;
}
body {
  overflow-x: hidden;
}
.cont {
  margin-inline: auto;
  /* padding-inline: 15px; */
  width: 90vw;
}
@media (max-width: 1023px) {
  .cont {
    /* padding-inline: 35px; */
  }
}
@media (max-width: 767px) {
  .cont {
    /* padding-inline: 16px; */
  }
}
/* ==========[MEDIA]========== */
/* 320px — 480px: Mobile devices */
@media (max-width: 480px) {
  .cont {
    /* width: 450px; */
  }
}
/* 481px — 768px: iPads, Tablets */
@media (min-width: 768px) {
  .cont {
    /* width: 750px; */
    /* padding-inline: 35px; */
  }
}
/* 769px — 1024px: Small screens, laptops */
@media (min-width: 1024px) {
  .cont {
    /* width: 990px; */
    /* padding-inline: 50px; */
  }
}
/* 1025px — 1200px: Desktops, large screens */
@media (min-width: 1400px) {
  .cont {
    width: 1300px;
    /* padding: 50px; */
  }
}

/* ==========[ROOT]========== */
:root {
  /* --main-color: #543c32; */
  --main-color: hsl(331, 73%, 36%);
  --main-color-transparent: hwb(331 10% 38% / 0.7);
  /* --main-color-transparent: rgba(84, 60, 50, 0.7); */
  --main-color-light: hsl(334, 29%, 50%);
  --border-color: hsl(331, 22%, 79%);
  --font-main-color: #121212;
  --font-primary-color: #fff;
  --traffic-color: #aeb946;
  --traffic-color: #fbb74c;
  --box-paragraph-color: #717171;
  --box-tages-bg-color: #eee;
  --box-tages-color: #898989;
}

/* ==========[START STYLING]========== */
/* ==========[START COMPONENT]========== */
/* the title of the sections */
.title h2 {
  color: var(--main-color-light);
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  border: 1px solid var(--border-color);
  padding: 5px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media (max-width: 1199px) {
  .title h2 {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .title h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .title h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .title h2 {
    font-size: 16px;
  }
}
.inline-title {
  padding-bottom: 60px;
}

/* the divider of the sections */
hr {
  width: 90%;
  margin-inline: auto;
  border: 1px solid var(--font-main-color);
  opacity: 0.3;
}

/* more button */
.more {
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  border: 1px solid var(--font-main-color);
  /*padding: 5px 20px 5px 0px;
  */
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
@media (max-width: 1199px) {
  .more {
    padding: 10px 15px;
  }
}
@media (max-width: 1023px) {
  .more {
    padding: 10px 10px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .more {
    padding: 5px 10px;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .more {
    padding: 5px 10px;
    gap: 15px;
  }
}
.more:hover {
  padding-right: 20px;
  gap: 35px;
}
@media (max-width: 1199px) {
  .more:hover {
    padding-right: 20px;
  }
}
@media (max-width: 1023px) {
  .more:hover {
    padding-right: 20px;
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .more:hover {
    padding: 5px 15px 5px 10px;
    gap: 25px;
  }
}
@media (max-width: 480px) {
  .more:hover {
    padding: 5px 15px 5px 10px;
    gap: 15px;
  }
}
.more p {
  color: var(--font-main-color);
  font-size: 20px;
  font-weight: 300;
  /* display: flex; */
}
@media (max-width: 1199px) {
  .more p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .more p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .more p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .more p {
    font-size: 16px;
  }
}
.more svg {
  transform: rotate(275deg);
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  transition: 200ms transform;
  -webkit-transition: 200ms transform;
  -moz-transition: 200ms transform;
  -ms-transition: 200ms transform;
  -o-transition: 200ms transform;
  width: 24px;
  height: 24px;
  /* padding: 20px; */
  box-sizing: content-box;
  padding: 5px;
}

.more:hover svg.arrow {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  fill: var(--font-primary-color);
}

/* ==========[END COMPONENT]========== */

/* ==========[START NAVIGATOIN]========== */
nav {
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 3;
  /* padding-inline: 15px; */
}

@media (max-width: 767px) {
  nav {
    height: 70px;
  }
}
nav.active {
  background-color: var(--font-primary-color);
}
nav .cont {
  padding-inline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-block: 10px; */
  /* border-bottom: 1px solid var(--font-primary-color); */
  height: 100%;
  position: relative;
  /* margin-inline: 50px; */
  /* width: 90%; */
}
nav .cont::before {
  /* content: ""; */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: var(--border-color);
  height: 0.5px;
  /* width: calc(100% - 6vw); */
  width: 100%;
}
nav .cont figure {
  width: 60px;
}
@media (max-width: 767px) {
  nav .cont figure {
    width: 40px;
  }
}
nav .cont figure img {
  /* max-width: 100%; */
  max-width: 100%;
}
nav .cont ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  nav .cont ul {
    visibility: hidden;
    background-color: var(--font-primary-color);
    width: 100%;
    height: calc(100vh - 109px);
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    padding-inline: 20px;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition-property: visibility, opacity;
    opacity: 0;
  }
  nav .cont ul.active {
    visibility: visible;
    opacity: 1;
    /* position: relative; */
    /* position: fixed; */
  }
}
@media (max-width: 767px) {
  nav .cont ul {
    height: calc(100vh - 70px);
    top: 70px;
  }
}
nav .cont ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  nav .cont ul li {
    border-bottom: 1px solid var(--font-main-color);
    width: inherit;
    padding: 0px 0px;
    height: 80px;
  }
}

nav .cont ul li a {
  color: var(--font-primary-color);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  /* overflow-y: hidden; */
  /* text-shadow: 0 0 3px rgba(0, 0, 0, 0.523); */
}
@media (max-width: 1023px) {
  nav .cont ul li a {
    color: var(--font-main-color);
    font-size: 20px;
    width: inherit;
  }
}
nav .cont ul li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  background-color: white;
  height: 1.5px;
  width: 0%;
  transition: 150ms width;
  -webkit-transition: 150ms width;
  -moz-transition: 150ms width;
  -ms-transition: 150ms width;
  -o-transition: 150ms width;
  z-index: 2;
}
nav .cont ul li:hover a::before {
  width: 100%;
}
@media (min-width: 1024px) {
  nav .cont ul li svg.arrow {
    display: none;
  }
}
nav .cont ul li svg.arrow {
  fill: var(--font-main-color);
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  width: 40px;
  height: 40px;
  padding: 6px;
  /* box-sizing:unset; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
nav .cont ul li:hover svg.arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  background-color: var(--main-color);

  fill: var(--font-primary-color);
}
nav .cont .nav-icon {
}
@media (min-width: 1024px) {
  nav .cont .nav-icon {
    display: none;
  }
}
nav .cont .nav-icon .icon-tabler {
  color: var(--font-primary-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
nav .cont .nav-icon .icon-tabler.active {
  color: var(--font-main-color);
}

/* ==========[START LANDING PAGE]========== */
main {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg5.jpg);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  /* z-index: -1; */
}
main .cont {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  position: relative;
}
@media (max-width: 1023px) {
  main .cont {
    gap: 80px;
  }
}
@media (max-width: 767px) {
  main .cont {
    flex-direction: column;
    gap: 30px;
  }
}
main .cont .text-box {
  max-width: 700px;
}
main .cont .text-box h1 {
  color: var(--font-primary-color);
  font-size: 130px;
  margin-inline: 0;
  margin-block: 0 20px;
  /* width: calc(100% - 100px); */
  line-height: 1.3;
}
@media (max-width: 1023px) {
  main .cont .text-box h1 {
    font-size: 90px;
  }
}
@media (max-width: 480px) {
  main .cont .text-box h1 {
    font-size: 60px;
  }
}
main .cont .text-box p {
  color: var(--font-primary-color);
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  word-spacing: 3px;
  /* text-shadow: 0 0 10px black; */
}
@media (max-width: 1023px) {
  main .cont .text-box p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  main .cont .text-box p {
    font-size: 13px;
  }
}
main .cont .get-in-touch {
  padding-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  main .cont .get-in-touch {
    align-self: flex-end;
    padding-top: 0;
  }
}
main .cont .get-in-touch a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .cont .get-in-touch a figure {
  /* background-color: var(--traffic-color); */
  /* height: 200px;
  width: 200px; */
  display: grid;
  background-color: #fbb84ca2;
  backdrop-filter: grayscale(20px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
  transition: 500ms transform;
  -webkit-transition: 500ms transform;
  -moz-transition: 500ms transform;
  -ms-transition: 500ms transform;
  -o-transition: 500ms transform;
  position: relative;
}
main .cont .get-in-touch a:hover figure {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

main .cont .get-in-touch a figure svg:first-of-type {
  fill: var(--font-primary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(275deg);
  -webkit-transform: translate(-50%, -50%) rotate(275deg);
  -moz-transform: translate(-50%, -50%) rotate(275deg);
  -ms-transform: translate(-50%, -50%) rotate(275deg);
  -o-transform: translate(-50%, -50%) rotate(275deg);
  width: 50px;
  height: 50px;
  transition: 100ms transform;
  -webkit-transition: 100ms transform;
  -moz-transition: 100ms transform;
  -ms-transition: 100ms transform;
  -o-transition: 100ms transform;
  z-index: 1;
}

main .cont .get-in-touch a:hover figure svg:first-of-type {
  transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -webkit-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -moz-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -ms-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -o-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  transform-origin: center center;
}

main .cont .get-in-touch a figure svg:last-of-type {
  animation: rotate 15s infinite linear;
  -webkit-animation: rotate 15s infinite linear;
  width: 200px;
  height: 200px;
}
@media (max-width: 1023px) {
  main .cont .get-in-touch a figure svg:last-of-type {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  main .cont .get-in-touch a figure svg:last-of-type {
    width: 150px;
    height: 150px;
  }
}

/* ==========[START ABOUT US]========== */
article {
  padding-block: 60px;
  /* border-bottom: 1px solid black; */
}
article .cont {
}
article .cont .box {
  display: flex;
  justify-content: space-between;
  /* gap: 80px; */
}
@media (max-width: 1199px) {
  article .cont .box {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  article .cont .box {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  article .cont .box {
    gap: 20px;
  }
}
article .cont .box .text-box {
  max-width: 800px;
  /* flex: 1; */
  /* border-right: 1px solid var(--main-color-light); */
  margin-right: auto;
}
article .cont .box .text-box h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 50px;
}
@media (max-width: 1199px) {
  article .cont .box .text-box h1 {
    font-size: 35px;
  }
}
@media (max-width: 1023px) {
  article .cont .box .text-box h1 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  article .cont .box .text-box h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  article .cont .box .text-box h1 {
    padding-bottom: 30px;
    font-size: 25px;
  }
}
article .cont .box .text-box .content-text {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  article .cont .box .text-box .content-text {
  }
}
@media (max-width: 1023px) {
  article .cont .box .text-box .content-text {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  article .cont .box .text-box .content-text {
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  article .cont .box .text-box .content-text {
    gap: 20px;
  }
}
article .cont .box .text-box .content-text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 1199px) {
  article .cont .box .text-box .content-text p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  article .cont .box .text-box .content-text p {
  }
}
@media (max-width: 480px) {
  article .cont .box .text-box .content-text p {
    font-size: 14px;
  }
}
article .cont .box .text-box .content-text p:first-of-type {
}
article .cont .box .text-box .content-text p:last-of-type {
}

/* ==========[START SERVICES]========== */

section {
  padding-block: 60px;
}
section .cont {
}
section .cont .box {
}
section .cont .box .text-box {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
section .cont .box .text-box h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 1100px;
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  section .cont .box .text-box h3 {
    font-size: 25px;
  }
}
@media (max-width: 1023px) {
  section .cont .box .text-box h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  section .cont .box .text-box h3 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  section .cont .box .text-box h3 {
    font-size: 15px;
  }
}
section .cont .box .text-box div.services-links {
  margin-bottom: 50px;
}
section .cont .box .text-box .services-links a.service-link {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
  border-top: 1px solid black;
  padding-block: 35px;
}
section .cont .box .text-box .services-links a.service-link .service-number {
  flex-shrink: 0;
}
section .cont .box .text-box .services-links a.service-link .service-number p {
  color: var(--main-color-light);
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  min-width: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 16px;
    min-width: 50px;
  }
}
section .cont .box .text-box .services-links a.service-link h1.service-name {
  color: var(--font-main-color);
  font-size: 60px;
  font-weight: 400;
  flex-grow: 1;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
@media (max-width: 1199px) {
  section .cont .box .text-box .services-links a.service-link h1.service-name {
    font-size: 55px;
  }
}
@media (max-width: 1023px) {
  section .cont .box .text-box .services-links a.service-link h1.service-name {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  section .cont .box .text-box .services-links a.service-link h1.service-name {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  section .cont .box .text-box .services-links a.service-link h1.service-name {
    font-size: 20px;
  }
}
section
  .cont
  .box
  .text-box
  .services-links
  a.service-link:hover
  h1.service-name {
  color: var(--main-color-light);
  padding-block: 10px;
}
section .cont .box .text-box .services-links a.service-link .arrow {
  display: flex;
  margin-right: 50px;
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  section .cont .box .text-box .services-links a.service-link .arrow {
    margin-right: 50px;
  }
}
@media (max-width: 1023px) {
  section .cont .box .text-box .services-links a.service-link .arrow {
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  section .cont .box .text-box .services-links a.service-link .arrow {
    margin-right: 30px;
  }
}
@media (max-width: 480px) {
  section .cont .box .text-box .services-links a.service-link .arrow {
    margin-right: 20px;
  }
}
section .cont .box .text-box .services-links a.service-link .arrow svg {
  transform: rotate(275deg);
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: content-box;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 1199px) {
  section .cont .box .text-box .services-links a.service-link .arrow svg {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
@media (max-width: 1023px) {
  section .cont .box .text-box .services-links a.service-link .arrow svg {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  section .cont .box .text-box .services-links a.service-link .arrow svg {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  section .cont .box .text-box .services-links a.service-link .arrow svg {
    width: 24px;
    height: 24px;
    padding: 5px;
  }
}
section .cont .box .text-box .services-links a.service-link:hover .arrow svg {
  background-color: var(--main-color-light);
  fill: white;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

/* ==========[END SERVICES]========== */
