/* font => weights => 100,200,300,400,500,600,700,800,900 */
/* IBM */
/* KOTO */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

::selection {
  background-color: var(--traffic-color);
}

html {
  direction: rtl;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-aos-anchor-placement],
[data-aos] {
  transition: 500ms !important;
  -webkit-transition: 500ms !important;
  -moz-transition: 500ms !important;
  -ms-transition: 500ms !important;
  -o-transition: 500ms !important;
  transition-property: opacity, transform;
}
body,
* {
  font-family: "Alexandria", sans-serif;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: "Noto Kufi Arabic", sans-serif;
}
body {
  overflow-x: hidden;
}
.cont {
  margin-inline: auto;
  /* padding-inline: 15px; */
  width: 90vw;
}
@media (max-width: 1023px) {
  .cont {
    /* padding-inline: 35px; */
  }
}
@media (max-width: 767px) {
  .cont {
    /* padding-inline: 16px; */
  }
}
/* ==========[MEDIA]========== */
/* 320px — 480px: Mobile devices */
@media (max-width: 480px) {
  .cont {
    /* width: 450px; */
  }
}
/* 481px — 768px: iPads, Tablets */
@media (min-width: 768px) {
  .cont {
    /* width: 750px; */
    /* padding-inline: 35px; */
  }
}
/* 769px — 1024px: Small screens, laptops */
@media (min-width: 1024px) {
  .cont {
    /* width: 990px; */
    /* padding-inline: 50px; */
  }
}
/* 1025px — 1200px: Desktops, large screens */
@media (min-width: 1400px) {
  .cont {
    width: 1300px;
    /* padding: 50px; */
  }
}

/* ==========[ROOT]========== */
:root {
  /* --main-color: #543c32; */
  --hwb: 331 10% 38%;
  --main-color: hwb(var(--hwb));
  --main-color-transparent: hwb(var(--hwb) / 0.7);
  --main-color-light: hwb(334 42% 14%);
  --border-color: hwb(331 75% 16%);
  --font-main-color: hwb(0 7% 93%);
  --font-primary-color: hwb(0 100% 0%);
  --traffic-color: hwb(66 27% 27%);
  --traffic-color: hwb(37 30% 2%);
  --box-paragraph-color: hwb(0 44% 56%);
  --box-tages-bg-color: hwb(0 93% 7%);
  --box-tages-color: hwb(0 54% 46%);
}

/* ==========[START STYLING]========== */
/* ==========[START COMPONENT]========== */
/* the title of the section.services-sections */
section {
  padding-block: 100px;
}
.title h2 {
  color: var(--main-color-light);
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  border: 1px solid var(--border-color);
  padding: 5px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media (max-width: 1199px) {
  .title h2 {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .title h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .title h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .title h2 {
    font-size: 16px;
  }
}
.title-inline {
  padding-bottom: 60px;
}

/* the divider of the section.services-sections */
hr {
  width: 90%;
  margin-inline: auto;
  border: 1px solid var(--font-main-color);
  opacity: 0.3;
}

/* more button */
.more {
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  border: 1px solid var(--font-main-color);
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
@media (max-width: 1199px) {
  .more {
    padding: 10px 15px;
  }
}
@media (max-width: 1023px) {
  .more {
    padding: 10px 10px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .more {
    padding: 5px 10px;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .more {
    padding: 5px 10px;
    gap: 15px;
  }
}
.more:hover {
  padding-right: 20px;
  gap: 35px;
}
@media (max-width: 1199px) {
  .more:hover {
    padding-right: 20px;
  }
}
@media (max-width: 1023px) {
  .more:hover {
    padding-right: 20px;
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .more:hover {
    padding: 5px 15px 5px 5px;
    gap: 25px;
  }
}
@media (max-width: 480px) {
  .more:hover {
    padding: 5px 15px 5px 5px;
    gap: 15px;
  }
}
.more span {
  color: var(--font-main-color);
  font-size: 20px;
  font-weight: 300;
  /* display: flex; */
}
@media (max-width: 1199px) {
  .more span {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .more span {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .more span {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .more span {
    font-size: 16px;
  }
}
.more svg {
  transform: rotate(275deg);
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  transition: 200ms transform;
  -webkit-transition: 200ms transform;
  -moz-transition: 200ms transform;
  -ms-transition: 200ms transform;
  -o-transition: 200ms transform;
  width: 24px;
  height: 24px;
  /* padding: 20px; */
  box-sizing: content-box;
  padding: 5px;
}

.more:hover svg.arrow {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  background-color: var(--main-color-light);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  fill: var(--font-primary-color);
}

/* ==========[END COMPONENT]========== */

/* ==========[START NAVIGATOIN]========== */
nav {
  background-color: var(--main-color-transparent);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 3;
}

@media (max-width: 767px) {
  nav {
    height: 70px;
  }
}
nav.active {
  background-color: var(--font-primary-color);
}
nav .cont {
  padding-inline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .cont figure {
  width: 60px;
}
@media (max-width: 767px) {
  nav .cont figure {
    width: 40px;
  }
}
nav .cont figure img {
  /* max-width: 100%; */
  max-width: 100%;
}
nav .cont ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  nav .cont ul {
    visibility: hidden;
    background-color: var(--font-primary-color);
    width: 100%;
    height: calc(100svh - 109px);
    /* height: 100svh; */
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    padding-inline: 20px;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition-property: visibility, opacity;
    opacity: 0;
  }
  nav .cont ul.active {
    visibility: visible;
    opacity: 1;
    /* position: relative; */
    /* position: fixed; */
  }
}
@media (max-width: 767px) {
  nav .cont ul {
    height: calc(100svh - 70px);
    /* height: 100svh; */
    top: 70px;
  }
}
nav .cont ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  nav .cont ul li {
    border-bottom: 1px solid var(--font-main-color);
    width: inherit;
    padding: 0px 0px;
    height: 80px;
    justify-content: start;
  }
}

nav .cont ul li a {
  color: var(--font-primary-color);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  /* overflow-y: hidden; */
  /* text-shadow: 0 0 3px rgba(0, 0, 0, 0.523); */
}
@media (max-width: 1023px) {
  nav .cont ul li a {
    color: var(--font-main-color);
    font-size: 20px;
    width: inherit;
    flex-grow: 1;
  }
}
nav .cont ul li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  background-color: white;
  height: 1.5px;
  width: 0%;
  transition: 150ms width;
  -webkit-transition: 150ms width;
  -moz-transition: 150ms width;
  -ms-transition: 150ms width;
  -o-transition: 150ms width;
  z-index: 2;
}
nav .cont ul li:hover a::before {
  width: 100%;
}
@media (max-width: 1023px) {
  nav .cont ul li .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 200ms background-color;
    -webkit-transition: 200ms background-color;
    -moz-transition: 200ms background-color;
    -ms-transition: 200ms background-color;
    -o-transition: 200ms background-color;
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  nav .cont ul li .arrow {
    display: none;
  }
}

nav .cont ul li:hover .arrow {
  background-color: var(--main-color);
}

nav .cont ul li .arrow svg {
  fill: var(--font-main-color);
  box-sizing: unset;
  width: 28px;
  height: 28px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition-property: fill, transform;
}
nav .cont ul li:hover .arrow svg {
  fill: var(--font-primary-color);
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}
nav .cont ul li.nav-social {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: auto;
  gap: 10px;
}
nav .cont ul li.nav-social a {
  width: 100%;
  height: 100%;
  padding: 10px;
}
nav .cont ul li.nav-social-active {
  display: flex;
}
nav .cont .nav-icon {
}
@media (min-width: 1024px) {
  nav .cont .nav-icon {
    display: none;
  }
}
nav .cont .nav-icon .icon-tabler {
  color: var(--font-primary-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
nav .cont .nav-icon .icon-tabler path {
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
nav .cont .nav-icon .icon-tabler.active {
  color: var(--font-main-color);
}

/* ==========[START LANDING PAGE]========== */
main {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg5.jpg);
  background-position: right, center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  /* z-index: -1; */
}
main .cont {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  position: relative;
}
@media (max-width: 1023px) {
  main .cont {
    gap: 80px;
  }
}
@media (max-width: 767px) {
  main .cont {
    flex-direction: column;
    gap: 30px;
  }
}
main .cont .text-box {
  max-width: 700px;
}
main .cont .text-box h1 {
  color: var(--font-primary-color);
  font-size: 130px;
  margin-inline: 0;
  margin-block: 0 20px;
  /* width: calc(100% - 100px); */
  line-height: 1.3;
}
@media (max-width: 1023px) {
  main .cont .text-box h1 {
    font-size: 90px;
  }
}
@media (max-width: 480px) {
  main .cont .text-box h1 {
    font-size: 60px;
  }
}
main .cont .text-box p {
  color: var(--font-primary-color);
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  word-spacing: 3px;
  /* text-shadow: 0 0 10px black; */
}
@media (max-width: 1023px) {
  main .cont .text-box p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  main .cont .text-box p {
    font-size: 13px;
  }
}
main .cont .get-in-touch {
  padding-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  main .cont .get-in-touch {
    align-self: flex-end;
    padding-top: 0;
  }
}
main .cont .get-in-touch a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .cont .get-in-touch a figure {
  /* background-color: var(--traffic-color); */
  /* height: 200px;
  width: 200px; */
  display: grid;
  background-color: #fbb84ca2;
  backdrop-filter: grayscale(20px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
  transition: 500ms transform;
  -webkit-transition: 500ms transform;
  -moz-transition: 500ms transform;
  -ms-transition: 500ms transform;
  -o-transition: 500ms transform;
  position: relative;
}
main .cont .get-in-touch a:hover figure {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

main .cont .get-in-touch a figure svg:first-of-type {
  fill: var(--font-primary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(275deg);
  -webkit-transform: translate(-50%, -50%) rotate(275deg);
  -moz-transform: translate(-50%, -50%) rotate(275deg);
  -ms-transform: translate(-50%, -50%) rotate(275deg);
  -o-transform: translate(-50%, -50%) rotate(275deg);
  width: 50px;
  height: 50px;
  transition: 100ms transform;
  -webkit-transition: 100ms transform;
  -moz-transition: 100ms transform;
  -ms-transition: 100ms transform;
  -o-transition: 100ms transform;
  z-index: 1;
}

main .cont .get-in-touch a:hover figure svg:first-of-type {
  transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -webkit-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -moz-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -ms-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  -o-transform: translate(-50%, -50%) rotate(225deg) scale(1.4);
  transform-origin: center center;
}

main .cont .get-in-touch a figure img {
  animation: rotate 15s infinite linear;
  -webkit-animation: rotate 15s infinite linear;
  width: 200px;
  height: 200px;
}
@media (max-width: 1023px) {
  main .cont .get-in-touch a figure img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  main .cont .get-in-touch a figure img {
    width: 150px;
    height: 150px;
  }
}

/* ==========[START ABOUT US]========== */
article {
  padding-block: 100px;
  /* border-bottom: 1px solid black; */
}
article .cont {
}
article .cont .box {
  display: flex;
  justify-content: space-between;
  /* gap: 80px; */
}
@media (max-width: 1199px) {
  article .cont .box {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  article .cont .box {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  article .cont .box {
    gap: 20px;
  }
}
article .cont .box .text-box {
  max-width: 900px;
  /* flex: 1; */
  /* border-right: 1px solid var(--main-color-light); */
  margin-right: auto;
}
article .cont .box .text-box h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 50px;
}
@media (max-width: 1199px) {
  article .cont .box .text-box h1 {
    font-size: 35px;
  }
}
@media (max-width: 1023px) {
  article .cont .box .text-box h1 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  article .cont .box .text-box h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  article .cont .box .text-box h1 {
    padding-bottom: 30px;
    font-size: 25px;
  }
}
article .cont .box .text-box .content-text {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  article .cont .box .text-box .content-text {
  }
}
@media (max-width: 1023px) {
  article .cont .box .text-box .content-text {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  article .cont .box .text-box .content-text {
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  article .cont .box .text-box .content-text {
    gap: 20px;
  }
}
article .cont .box .text-box .content-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 1199px) {
  article .cont .box .text-box .content-text p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  article .cont .box .text-box .content-text p {
  }
}
@media (max-width: 480px) {
  article .cont .box .text-box .content-text p {
    font-size: 14px;
  }
}
article .cont .box .text-box .content-text p:first-of-type {
  flex-shrink: 0;
  max-width: 300px;
}
@media (max-width: 1199px) {
  article .cont .box .text-box .content-text p:first-of-type {
    flex-shrink: 0;
    max-width: 300px;
  }
}
@media (max-width: 1023px) {
  article .cont .box .text-box .content-text p:first-of-type {
    flex-shrink: 0;
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  article .cont .box .text-box .content-text p:first-of-type {
    flex-grow: 1;
    max-width: initial;
  }
}
@media (max-width: 480px) {
  article .cont .box .text-box .content-text p {
    font-size: 14px;
  }
}
article .cont .box .text-box .content-text p:last-of-type {
  flex-grow: 1;
}

/* ==========[START SERVICES]========== */

section.services-section {
  padding-block: 100px;
}
section.services-section .cont {
}
section.services-section .cont .box {
}
section.services-section .cont .box .text-box {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
section.services-section .cont .box .text-box h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 1100px;
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  section.services-section .cont .box .text-box h3 {
    font-size: 25px;
  }
}
@media (max-width: 1023px) {
  section.services-section .cont .box .text-box h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  section.services-section .cont .box .text-box h3 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  section.services-section .cont .box .text-box h3 {
    font-size: 15px;
  }
}
section.services-section .cont .box .text-box div.services-links {
  margin-bottom: 50px;
}
section.services-section .cont .box .text-box .services-links a.service-link {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
  border-top: 1px solid black;
  padding-block: 35px;
}
@media (max-width: 1199px) {
  section.services-section .cont .box .text-box .services-links a.service-link {
    flex-wrap: nowrap;
  }
}
@media (max-width: 1023px) {
  section.services-section .cont .box .text-box .services-links a.service-link {
    flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  section.services-section .cont .box .text-box .services-links a.service-link {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  section.services-section .cont .box .text-box .services-links a.service-link {
    flex-wrap: wrap;
  }
}
section.services-section
  .cont
  .box
  .text-box
  .services-links
  a.service-link
  .service-number {
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number {
    flex-shrink: 0;
  }
}
@media (max-width: 1023px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number {
    flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number {
    flex-shrink: 0;
  }
}
@media (max-width: 480px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number {
    flex-shrink: 0;
  }
}
section.services-section
  .cont
  .box
  .text-box
  .services-links
  a.service-link
  .service-number
  p {
  color: var(--main-color-light);
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  min-width: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .service-number
    p {
    font-size: 16px;
    min-width: 50px;
  }
}
section.services-section
  .cont
  .box
  .text-box
  .services-links
  a.service-link
  h1.service-name {
  color: var(--font-main-color);
  font-size: 60px;
  font-weight: 400;
  flex-grow: 1;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
@media (max-width: 1199px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    h1.service-name {
    font-size: 55px;
  }
}
@media (max-width: 1023px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    h1.service-name {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    h1.service-name {
    font-size: 35px;
    width: calc(100% - 85px);
    flex-shrink: 0;
    flex-grow: 0;
  }
}
@media (max-width: 480px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    h1.service-name {
    font-size: 20px;
    width: calc(100% - 60px);
  }
}
section.services-section
  .cont
  .box
  .text-box
  .services-links
  a.service-link:hover
  h1.service-name {
  color: var(--main-color-light);
  padding-block: 10px;
}
section.services-section
  .cont
  .box
  .text-box
  .services-links
  a.service-link
  .arrow {
  display: flex;
  margin-right: 50px;
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow {
    margin-right: 50px;
  }
}
@media (max-width: 1023px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow {
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow {
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow {
    margin-right: 20px;
  }
}
section.services-section
  .cont
  .box
  .text-box
  .services-links
  a.service-link
  .arrow
  svg {
  transform: rotate(275deg);
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: content-box;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 1199px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow
    svg {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
@media (max-width: 1023px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow
    svg {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow
    svg {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  section.services-section
    .cont
    .box
    .text-box
    .services-links
    a.service-link
    .arrow
    svg {
    width: 24px;
    height: 24px;
    padding: 5px;
  }
}
section.services-section
  .cont
  .box
  .text-box
  .services-links
  a.service-link:hover
  .arrow
  svg {
  background-color: var(--main-color-light);
  fill: white;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

/* ==========[END SERVICES]========== */
/* ==========[START WHY CHOOSE US]========== */

section.why-us {
  background-color: var(--main-color);
}

section.why-us .cont {
}
section.why-us .cont .box {
}
section.why-us .text-box * {
  color: var(--font-primary-color);
}
section.why-us .cont .box .text-box {
  margin-top: 60px;
}
section.why-us .cont .box .text-box .content {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .content {
    flex-direction: column;
    margin-bottom: 150px;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .content {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .content {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .content {
    flex-direction: column;
  }
}
section.why-us .cont .box .text-box .content .content-box {
}
section.why-us .cont .box .text-box .content .content-box.c-one {
  max-width: 350px;
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .content .content-box.c-one {
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .content .content-box.c-one {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .content .content-box.c-one {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .content .content-box.c-one {
    max-width: 100%;
  }
}
section.why-us .cont .box .text-box .content .content-box.c-one h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .content .content-box.c-one h1 {
    font-size: 45px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .content .content-box.c-one h1 {
    font-size: 45px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .content .content-box.c-one h1 {
    font-size: 35px;
    margin-bottom: 60px;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .content .content-box.c-one h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
section.why-us .cont .box .text-box .content .content-box.c-one .more {
  border-color: var(--font-primary-color);
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .content .content-box.c-one .more {
    border-color: var(--font-primary-color);
    position: absolute;
    bottom: -100px;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .content .content-box.c-one .more {
    border-color: var(--font-primary-color);
    position: absolute;
    bottom: -100px;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .content .content-box.c-one .more {
    border-color: var(--font-primary-color);
    position: absolute;
    bottom: -100px;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .content .content-box.c-one .more {
    border-color: var(--font-primary-color);
    position: absolute;
    bottom: -100px;
  }
}
section.why-us .cont .box .text-box .content .content-box.c-one .more span {
  color: var(--font-primary-color) !important;
}
section.why-us .cont .box .text-box .content .content-box.c-one .more svg {
  fill: var(--font-primary-color) !important;
}
section.why-us .cont .box .text-box .content .content-box.c-two {
  max-width: 800px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .content .content-box.c-two {
    margin-right: auto;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .content .content-box.c-two {
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .content .content-box.c-two {
    max-width: 700px;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .content .content-box.c-two {
    max-width: 700px;
    margin-right: auto;
  }
}
section.why-us .cont .box .text-box .content .content-box.c-two p {
  font-size: 22px;
  font-weight: 200;
  line-height: 1.6;
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .content .content-box.c-two p {
    font-size: 18px;
    font-weight: 200;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .content .content-box.c-two p {
    font-size: 18px;
    font-weight: 200;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .content .content-box.c-two p {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .content .content-box.c-two p {
    font-size: 14px;
    font-weight: 200;
  }
}
section.why-us
  .cont
  .box
  .text-box
  .content
  .content-box.c-two
  p:first-of-type {
}
section.why-us .cont .box .text-box .content .content-box.c-two p:last-of-type {
}
section.why-us .cont .box .text-box .results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.why-us .cont .box .text-box .results .result {
  text-align: center;
}
section.why-us .cont .box .text-box .results .result h1 {
  font-size: 90px;
  font-weight: 400;
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .results .result h1 {
    font-size: 80px;
    font-weight: 400;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .results .result h1 {
    font-size: 70px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .results .result h1 {
    font-size: 45px;
    font-weight: 400;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .results .result h1 {
    font-size: 25px;
    font-weight: 400;
  }
}
section.why-us .cont .box .text-box .results .result p {
  font-size: 16px;
  font-weight: 200;
}
@media (max-width: 1199px) {
  section.why-us .cont .box .text-box .results .result p {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .results .result p {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .results .result p {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .results .result p {
    font-size: 10px;
    font-weight: 100;
  }
}

/* ==========[END WHY CHOOSE US]========== */
/* ==========[START RATES]========== */

section.rates {
}
section.rates .cont {
}
section.rates .cont .box {
}
section.rates .cont .box .special-title {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  section.rates .cont .box .special-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
}
@media (max-width: 1023px) {
  section.why-us .cont .box .text-box .results .result p {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 767px) {
  section.why-us .cont .box .text-box .results .result p {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 480px) {
  section.why-us .cont .box .text-box .results .result p {
    font-size: 10px;
    font-weight: 100;
  }
}
section.rates .cont .box .special-title .title {
}
section.rates .cont .box .special-title .title h2 {
  /* width: fit-content;/ */
}

section.rates .cont .box .special-title h1 {
  font-size: 50px;
  font-weight: 300;
  margin-right: auto;
  max-width: 800px;
  border-bottom: 1px solid black;
}
@media (max-width: 1199px) {
  section.rates .cont .box .special-title h1 {
    font-size: 45px;
    font-weight: 300;
    margin-right: auto;
    max-width: 800px;
  }
}
@media (max-width: 1023px) {
  section.rates .cont .box .special-title h1 {
    font-size: 45px;
    font-weight: 300;
    margin-right: auto;
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  section.rates .cont .box .special-title h1 {
    font-size: 35px;
    font-weight: 300;
    margin-right: 0;
    max-width: 800px;
  }
}
@media (max-width: 480px) {
  section.rates .cont .box .special-title h1 {
    font-size: 30px;
    font-weight: 300;
    margin-right: 0;
    max-width: 800px;
  }
}
section.rates .cont .box .charts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 100px;
}
section.rates .cont .box .charts .chart {
  margin-right: auto;
  width: 800px;
}
@media (max-width: 1199px) {
  section.rates .cont .box .charts .chart {
    margin-right: auto;
    width: 800px;
  }
}
@media (max-width: 1023px) {
  section.rates .cont .box .charts .chart {
    margin-right: auto;
    width: 800px;
  }
}
@media (max-width: 767px) {
  section.rates .cont .box .charts .chart {
    margin-right: 0;
    width: 800px;
  }
}
@media (max-width: 480px) {
  section.rates .cont .box .charts .chart {
    margin-right: 0;
    width: 800px;
  }
}

section.rates .cont .box .charts .chart .chart-cont {
  max-width: 100%;
  /* max-height: 100%; */
}

section.rates .cont .box .charts .chart .chart-cont canvas {
  background-color: rgb(62, 0, 66);
  padding: 10px;
}
@media (max-width: 1199px) {
  section.rates .cont .box .charts .chart .chart-cont canvas {
    padding: 10px;
  }
}
@media (max-width: 1023px) {
  section.rates .cont .box .charts .chart .chart-cont canvas {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  section.rates .cont .box .charts .chart .chart-cont canvas {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  section.rates .cont .box .charts .chart .chart-cont canvas {
    padding: 10px;
  }
}

section.rates .cont .box .charts .chart.chart-one {
}
section.rates .cont .box .charts .chart.chart-one h4 {
}
section.rates .cont .box .charts .chart.chart-one .chart-cont {
}
section.rates .cont .box .charts .chart.chart-one .chart-cont canvas {
}

/* ==========[END RATES]========== */
